[core]
        excludesfile = ~/.gitignore
        askPass = /home/cpollet/.bin/op_get_credentials.sh
        #pager = less -FRX
        # ref: https://dandavison.github.io/delta/configuration.html
        pager = delta
        whitespace = blank-at-eol,blank-at-eof,space-before-tab
[user]
	name = Christophe Pollet
	useconfigonly = true
[interactive]
        # ref: https://dandavison.github.io/delta/configuration.html
        diffFilter = delta --color-only --features=interactive
[delta]
        # EOL whitespaces highlighting doesn't work: https://github.com/dandavison/delta/issues/137
        whitespace-error-style = red reverse
        side-by-side = true
        file-style = yellow
        file-decoration-style = yellow ul ol
        hunk-label = File
        hunk-header-decoration-style = white ul
        hunk-header-file-style = white
        hunk-header-line-number-style = green
        hunk-header-style = file line-number
[delta "interactive"]
        line-numbers = true
        navigate = true
        keep-plus-minus-markers = false
        whitespace-error-style = red reverse
[diff]
        tool = kdiff3
        guitool = kdiff3
        colorMoved = default
[merge]
        tool = kdiff3
        conflictstyle = diff3
[mergetool "kdiff3"]
        cmd = kdiff3 $BASE $LOCAL $REMOTE -o $MERGED
        keepBackup = false
[credential]
	helper = store --file ~/.git-credentials
[credential "https://github.com"]
	username = cpollet
[include]
        path = .gitconfig.local
[push]
        default = simple
[alias]
        a = add
        aa = add --all
        alias = "!git config -l | grep alias | cut -c 7-"
        ap = add --patch
        b = branch
        bcl = "!f() { git checkout master && git pull && git fetch --prune && git branch -v --all && for b in $(git branch -v --all | grep gone | cut -d' ' -f3); do echo -n "Delete $b? [y/N] "; read ANS; if [ "$ANS" = "y" ]; then git branch -D $b; fi; done; }; f; echo '--' && git branch -v --all"
        bd = branch -D
        big =  bisect good
        bib = bisect bad
        bp = "!git branch $1 && git push origin $1"
        bs = branch -v --all
        c = commit
        ca = commit --amend
        cb = checkout -B
        cc = reset --soft HEAD~1
        cl = clean -df
        cm = "!f() { git commit -m \"$1\"; }; f"
        co = checkout
        con = "!f() { git checkout $(git rev-list --topo-order HEAD..$1 | tail -1); }; f"
        cop = checkout HEAD~1
        co-pr = !sh -c 'git fetch origin pull/$1/head:pr/$1 && git checkout pr/$1' -
        cof = checkout --force
        cp = cherry-pick
        cs = "!f() { git diff \"$1\"^! ; } ; f"
        d = diff
        do = "!f() { git d origin/`git rev-parse --abbrev-ref HEAD` `git rev-parse --abbrev-ref HEAD`; }; f"
        ds = diff --staged
        dt = difftool --dir-diff
        dtcs = "!f() { git difftool --dir-diff \"$1\"^! ; } ; f"
        dtm = difftool --dir-diff master
	dto = "!f() { git dt origin/`git rev-parse --abbrev-ref HEAD` `git rev-parse --abbrev-ref HEAD`; }; f"
        dts = difftool --dir-diff --staged
	email = "!f() { echo -n \"Email [`git config user.email`]: \"; read EMAIL; if [ \"$EMAIL\" = \"\" ]; then EMAIL=`git config user.email`; fi; git config user.email \"$EMAIL\"; }; f"
        email-gh = config user.email \"cpollet@users.noreply.github.com\"
        f = fetch
        fp = fetch --prune
        fpbs = "!f() { git fetch --prune && git branch -v --all ; }; f"
        id = rev-parse HEAD
        kd = difftool --dir-diff
        l = "!git ll -n30"
        ll = "!git lb --all"
        lb = log --graph --pretty=format:'%Cblue%h %Cgreen%cd%Creset%C(yellow)%d%Creset %C(cyan)%an%Creset <%Cgreen%ae%Creset> %Creset%s' --abbrev-commit --date=format:'%Y-%m-%d %H:%M'
        lbm = "!git lbs master"
        lbs = "!f() { git lb `git rev-parse --abbrev-ref HEAD` $@ ; }; f"
        ls = "!watch -cpn1 'date ; git -c color.ui=always s'"
        m = merge
        ma = merge --abort
        mff = merge --ff
        mt = mergetool
        p = push
        paf = push --all --force
        pf = push --force
        r = rebase
        ra = rebase --abort
        rc = rebase --continue
        rem = remote
        repo = remote -v
        res = "!git reset --hard HEAD && git clean -dfx"
        reset-author = commit --amend --reset-author --no-edit
        rf = checkout HEAD --
        rh = reset --hard
        ri = rebase -i
        rim = rebase -i master
        s = status
        serve = "!git daemon --verbose --export-all --base-path=.git --reuseaddr --strict-paths .git/"
        sui = status --ignored -u
        t = tag
        tb = "!f() { git checkout master && git pull && git commit --allow-empty -m 'trigger build' && git push ; } ; f"
        tdr = push --delete origin
        tl = tag -l
	wl = "!watch --color -n1 \"git -c color.ui=always l30\""
