[submodule ".config/zsh/plugins/zsh-git-prompt"]
	path = .config/zsh/plugins/zsh-git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt.git
[submodule ".config/zsh/plugins/zsh-syntax-highlighting"]
	path = .config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/zsh/plugins/zsh-vi-mode"]
	path = .config/zsh/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode.git
[submodule ".config/zsh/plugins/jq-zsh-plugin"]
	path = .config/zsh/plugins/jq-zsh-plugin
	url = https://github.com/reegnz/jq-zsh-plugin.git
[submodule ".local/lib/yadm"]
	path = .local/lib/yadm
	url = https://github.com/TheLocehiliosan/yadm.git
